*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cercive{
    margin: 19px auto;
    border: 5px solid #a7aaa9;
    width: 85%;
}
header{
    height:53px;
    background-color:#52a7f9 ;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 20px;
}
.content{
    margin: 3px 15%;
    height: 481px;
    display: flex;
    flex-direction: column;
    gap: 4px;    
}
.firstWrap,.secondWrap{
    display: flex;
    gap: 4px;
}
.col-8{
    width: calc(100%/12*8);
    background-color:#6fc041;
}
.col-4{
    width: calc(100%/12*4);
    background-color: #b36ae2; 
}
.div_main,.aside,.twin{
    height: 288px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.col-6{
    width: calc(100%/12*6);
    height: 188px;
    background-color:#f3901a;
}
footer{
    height: 53px;
    background-color:#0365c0 ;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;   
    padding-left: 20px;
}